main {
    height: 88vh;
}

.background-images > img {
    position: absolute;
    height: 520px;
    width: 650px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    object-fit: contain;
    filter: opacity(0.9) drop-shadow(15px 5px 15px #2d2d39);
}

.background-images > img.active {
    opacity: 1;
}


.animate{
    animation: 1s animate;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}


.welcome-container h2 {
    font-weight: bold;
}

.text-shadow{
    text-shadow: .2rem .4rem rgba(0,0,0,.15)
}

.welcome-container input[type="text"] {
    width: 85%;
    border: none;
    outline: none;
    background: #2d2d39;
    opacity: .8;
    font-size: 18px;
    word-spacing: 1px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px rgba(22, 22, 22, 0.4);
}

.welcome-container input[type="text"]::placeholder {
    color: whitesmoke;
}

.welcome-container button {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #45f3ff;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

.welcome-container button:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px #45f3ff,
    0 0 60px #45f3ff;
    
}

.welcome-container img {
    height: 120px;
    width: 120px;
    object-fit: contain;
}